body{
	width:960px;
	margin:0 auto;
	font-family: impact;
}

img{
	width:100%;
}

.player-name{
	font-size: 30px;
	padding: 10px;
}

.player{
	line-height: 30px;
	margin:50px;
	font-size: 20px;
	float:left;
	margin: 55px 160px 55px 160px;

}

input{
	padding-top: 50px;
}



#submit{
	width: 300px;
	height: 100px;
	font-family: impact;
	font-size: 50px;
	color:#ffffff;
}

button{
	background-color:#000000;
	margin: 50px 35%;

}